<!doctype html>
<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="contact-page">
    <h1>Contact Us</h1>
    <div class="contact-content">
        <div class="left-section">
            <div class="address">
                <p>Piotrkowska 155, Lodz, Poland</p>
            </div>
        </div>
        <div class="middle-section">
            <h2>Send Us a Message</h2>
            <form action="/submit_message" method="POST">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required><br><br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>
                <label for="message">Message:</label><br>
                <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="right-section">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9531.058334647587!2d19.459795192648697!3d51.76057260968138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471eccf7b007c1ef%3A0x39c595d3c5e4f767!2sPiotrkowska%20155%2C%2090-434%20%C5%81%C3%B3d%C5%BA%2C%20Poland!5e0!3m2!1sen!2sus!4v1660140328321!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</body>
</html>
