<!doctype html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home-page">
    <div class="content">
        <h1>Welcome to Our eLearning Platform</h1>
        <div class="text">
            <p>Learn and Grow with Us! Explore our wide range of courses and enhance your skills.</p>
        </div>
        <div class="buttons">
            <a href="/about" class="btn">About</a>
            <a href="/courses" class="btn">Courses</a>
            <a href="/students" class="btn">Students</a>
            <a href="/workshop"> class="btn">Workshop</a>
            <a href="/contact" class="btn">Contact</a>
        </div>
    </div>
</body>
</html>
